<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
         <shortcut
		      label="CGUnit Test"
		      icon="$nl$/icons/junit.gif"
		      helpContextId="org.eclipse.jdt.junit.launch_shortcut"
		      class="d.cgunit.CGUnitLaunchShortcut"
		      modes="run"
		      id="d.cgunit.core.CGUnitLaunchShortcut">
		   <contextualLaunch>
		      <enablement>
		         <with variable="selection">
		            <count value="1"/>
		            <iterate>
		               <adapt type="org.eclipse.jdt.core.IJavaElement">
		                  <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
		                  <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                  <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		                  <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		               </adapt>
		            </iterate>
		         </with>
		      </enablement>
		   </contextualLaunch>
		   <configurationType
		         id="org.eclipse.jdt.junit.launchconfig">
		   </configurationType>
		   <description
		         description="DebugJUnitLaunchShortcut.description"
		         mode="debug">
		   </description>
		   <description
		         description="RunJUnitLaunchShortcut.description"
		         mode="run">
		   </description>
		</shortcut>
   </extension>

</plugin>
